body{
    font-family: 'Oswald', sans-serif;
}
body h1{
    font-size: 60px;
}
body h2{
    font-size: 40px;
}
body p{
    margin-bottom: 30px;
    font-size: 15px;
    color:dimgray;
}
.navbar ul{
    float: right;
    margin-right: 100px;
}
.navbar ul li{
    list-style: none;
    display: inline;
    padding: 0 20px;
}
section{
    height: 500px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.half-width{
    width: 40%;
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width h1{
    font-size: 50px;
}
.half-width img{
    width: 100%;
}

.highlight1{
    color: #192a56;
}
.highlight2{
    color:#227093;
}
.on-click a{
    margin-top: 60px;
}
.on-click{
    text-decoration: none;
    background-image: linear-gradient(180deg,#227093,#2c2c54);
    color:white;
    margin-top: 10px;
    padding: 12px 50px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
}
/*---show some project---*/
.one-third-width{
    width: 25%;
    background: white;
    float: left;
    border-radius: 10px;
    margin-left: 5%;
    padding: 10px 7px;
}
.project-area h2{
    text-align: center;
    font-size: 40px;
    padding:100px;
}
.one-third-width img{
    width: 100%;
}
.project-area{
    height: 700px;
    background:#efefef; 
}

/*---testimonial---*/

.testimonial{
    width:100%;
    padding: 70px 0;
}
.testimonial{
    text-align: center;
}
.testimonial-row{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}
.user-info small{
    color: #009688;
}
.testimonial-col:hover{
    transform: translateY(-7px);
}
/*--footer--*/
.footer{
    height: 550px;
    width: 100%;
    background: #efefef;
}
.inquiry-box{
    background-image: url("images/inquiry-bg.png");
    background-size: 800px 180px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
}
.inquiry-box ul li{
    display: inline-block;
}
.inquiry-box ul li h2{
    margin-left: 150px;
    color:white;
}
.inquiry-box ul li a{
    float: right;
    margin-left: 300px;
}
.text-content{
    display: inline;
}
.social-links{
    text-align: center;
}
.mail-id p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.mail-id h3{
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}
.icon-images{
    text-align: center;
    margin-top: 0px;
}
.icon-images .fa{
    width:35px;
    padding:10px;
    justify-content: space-between;
}